<div class="container">

  <div class="row row-centered">

    <a href="#!loginReg"><div id="main-login" class="col-sm-5 col-centered main-content-box">
      <h3>Login or Register</h3>
      <div class="main-content-description">
        <h4>Login or Register to Save and Share your Algorithm Solutions</h4>
        <p>Upload and manage your own solutions to the algorithm challenges.</p>
      </div>
    </div></a>

    <a href="#!arena"><div id="main-arena" class="col-sm-5 col-centered main-content-box">
      <h3>Algo-Arena</h3>
      <div class="main-content-description">
        <h4>Match Algorithms Head-to-Head in the Algo-Arena</h4>
        <p>See side-by-side stats on how different solutions to the same challenge perform.</p>
      </div>
    </div></a>
  </div>

  <div class="row row-centered">
    <a href="#!challenges"><div id="main-challenges" class="col-sm-5 col-centered main-content-box">
      <h3>Challenges</h3>
      <div class="main-content-description">
        <h4>View the Algorithm Challenges</h4>
        <p>See algorithm challenges and upload your own solutions.</p>
      </div>

    </div></a>

    <a href="#!gallery"><div id="main-solutions" class="col-sm-5 col-centered main-content-box">
      <h3>Solutions</h3>
      <div class="main-content-description">
        <h4>View Algorithm Solutions</h4>
        <p>See solutions that others have posted.</p>
      </div>
    </div></a>
  </div>

</div>
